<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление расходов</title>
</head>
<body>
<form method="post" action="/addincome">
    <h3>Укажите данные о расходах</h3>
    <label for="POST-sum">Сумма:</label><br>
    <input id="POST-sum" type="number" name="sum" /><br><br>
    <label for="POST-type">Тип:</label><br>
    <input id="POST-type" type="text" name="type" /><br><br>
    <label for="POST-place">Место:</label><br>
    <input id="POST-place" type="text" name="place" /><br><br>
    <label for="POST-date">Дата:</label><br>
    <input id="POST-date" type="date" name="date" /><br><br>
    <input type="submit" value="Save" />
</form>
</body>
</html>